// @font-face 
	// font-family: "HalisGRMedium"
	// src: url("./fonts/halis/HalisGR-Medium.woff") format("woff")
	// url("./fonts/halis/HalisGR-Medium.woff") format("woff2"),
	// url("./fonts/halis/HalisGR-Medium.ttf") format("truetype")
// @font-face 
// 	font-family: "HalisGRRegular"
// 	src: url("./fonts/halis/HalisGR-Regular.woff") format("woff")
	// url("./fonts/halis/HalisGR-Medium.woff") format("woff2"),
	// url("./fonts/halis/HalisGR-Medium.ttf") format("truetype")
// @font-face 
// 	font-family: "HalisGRBook"
// 	src: url("./fonts/halis/HalisGR-Book.woff") format("woff")
	// url("./fonts/halis/HalisGR-Medium.woff") format("woff2"),
	// url("./fonts/halis/HalisGR-Medium.ttf") format("truetype")
// @font-face 
// 	font-family: "GilroyRegular"
// 	src: url("./fonts/gilroy/Gilroy-Regular.woff") format("woff")
	// url("./fonts/gilroy/Gilroy-Regular.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype")
// @font-face
// 	font-family: "GilroyMedium"
// 	src: url("./fonts/gilroy/Gilroy-Medium.woff") format("woff")
	// url("./fonts/gilroy/Gilroy-Medium.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Medium.ttf") format("truetype")
@font-face 
	font-family: "FuturaLight"
	src: url("./fonts/futura/FuturaBT-Light.woff") format("woff")
	// url("./fonts/gilroy/Gilroy-Regular.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype")
@font-face 
	font-family: "FuturaBook"
	src: url("./fonts/futura/FuturaBT-Book.woff") format("woff")
	// url("./fonts/gilroy/Gilroy-Regular.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype")
@font-face
	font-family: "FuturaMedium"
	src: url("./fonts/futura/FuturaBT-Medium.woff") format("woff")
@font-face
	font-family: "FuturaBold"
	src: url("./fonts/futura/FuturaBT-Bold.woff") format("woff")
// @font-face
// 	font-family: "FuturaBlackBold"
// 	src: url("./fonts/futura/FuturaBT-Black-Bold.woff") format("woff")
	// url("./fonts/gilroy/Gilroy-Medium.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Medium.ttf") format("truetype")
// @font-face
// 	font-family: "GilroyLight"
// 	src: url("./fonts/gilroy/Gilroy-Light.woff2") format("woff")
	// url("./fonts/gilroy/Gilroy-Light.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Light.ttf") format("truetype")
// @font-face
// 	font-family: "GilroyBold"
// 	src: url("./fonts/gilroy/Gilroy-Bold.woff2") format("woff")
	// url("./fonts/gilroy/Gilroy-Bold.woff") format("woff2"),
	// url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype")

*,
*:before,
*:after
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit
html
	width: 100% 
	height: 100%
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
body 
	font-family: 'FuturaBook', sans-serif
	overflow: hidden
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit
	overflow: hidden
	#app
		position: relative
		width: 100%
		height: 100%
		overflow: hidden  
::-webkit-scrollbar,
::-webkit-scrollbar-button
    width: 7px
    height: 7px
::-webkit-scrollbar-corner
    background: transparent
::-webkit-scrollbar-thumb
    background: #999
::-webkit-scrollbar-track
    background: #e6e6e6
::selection
    background: transparent