.nav-bar
	.toggle
		position: absolute
		display: flex
		top: 2em
		left: 2em
		width: 30px
		height: 21px
		justify-content: space-between
		flex-direction: column
		z-index: 1
		.pattie
			width: 22px
			height: 5px
			background: #000
	.logo
		position: absolute
		top: 2em
		right: 2em

.nav-panel
	position: absolute
	display: flex
	width: 100vw
	height: 100vh
	align-items: center
	justify-content: center
	&.collapsed
		width: 0
		height: 0
		overflow: hidden
	ul
		margin: 0
		padding: 0
		li
			list-style: none


